<!Doctype html>
<html lang="en">
    <head>
        <title>"Home"</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('../partials/header')%>

        <header>
            <a href="https://youtu.be/dQw4w9WgXcQ?t=85" ><h2  class="texto">Porque comprar en INFINITI es garantia de confianza</h2>
            <div><img src="/images/bmw.jpg" class="foto1"></div> </a>
            <h2 class="texto">Obtené tu auto con descuentos exclusivos</h2>
            <div><img src="/images/varios.jpg" class="foto2"></div>
            <h2 class="texto">Ofertas destacadas</h2>
            <section class="productoss">
                <div class="ofertas">
                    <img src = "/images/autos/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
                <div class="ofertas">
                    <img src = "/images/autos/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
                <div class="ofertas">
                    <img src = "/images/autos/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
            </section>
        </header>
        <%- include('../partials/footer')%>
    </body>