<!Doctype html>
<html lang="en">
    <head>
        <title>Nosotros</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include('../partials/header')%>

    <main>
        <h1>holaaa</h1>

    </main>
    <%- include('../partials/footer')%>
</body>
</html>
