<header>
    <p style='height: 100%; width: 100%; object-fit: fill'><a href="/">
        <img src="\images\infiniticars.png"> 
    </a></p> 
    <span>Comprá un auto</span>
    <span>Vende un auto</span> 
    <span>Nosotros</span>
    <span><i class="fa-solid fa-basket-shopping"></i></span>
    <div>
        <span id="micuenta"><i class="fa-solid fa-user"></i>&nbsp;Mi cuenta</span>  
    </div>
    <i id="burger-menu" class="fa-solid fa-bars"></i>          
</header>