
    <header class="main-header">
        <div>
            <a href="/"><img src="/images/infiniticars.png" class="logo"></a>
        </div>
        <div class="seccion-barra2">
            <a href = "/administrar">Admin</a>
            <a href = "#">Nosotros</a>
            <a href = "/productos">Catálogo</a>
            
            <i class="fas fa-search"></i>
        </div>
        <div class="seccion-barra2">
            <a href = "/vender">Vende un auto</a>
            <a class="sesion" class="fa-solid fa-basket-shopping" href = "/shop-car">Carrito</a>
            <a><img   src="/images/bmw.jpg"  style= 'border-radius: 50%; width: 2.5rem; height: 2.5rem; 'alt="Foto">Usuario</a>
            <a class="sesion" href="#">Mi perfil</a>
            <a class="sesion" href="#">Cerrar sesion</a>
            <a class="sesion" href = "/register">Registrate</a>
            <a class="sesion" href="#">Inicia sesion</a>
            
        </div>
        <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
    </header>

