<!Doctype html>
<html>
    <head>
        <title>"Detalle de articulo"</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="/css/styles+detalle.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="images\logo-infinity cars.jpg" style='height: 100%; width: 100%; object-fit: fill' > 
            <span>Comprá un auto</span>
            <span>Vende un auto</span> 
            <span>Nosotros</span>
            <span><i class="fa-solid fa-basket-shopping"></i></span>
            <span><i class="fa-solid fa-user"></i> Mi cuenta </span>  
            <i class="fa-solid fa-bars"></i>          
        </header>
        <main>   
            <div class="productos">
                <h2 class="productos-titulo">Toyota Hilux 2.8 Cd Srv 177cv 4x2</h2>
                <h4 class="productos-detalles">2017 • 41.558 km • Manual</h4>
                <img src="images\EXTERIOR-frontSidePilotNear-1646321139201.jpeg" style='height: 100%; width: 100%; object-fit: fill' >
                <h3 class="productos-precio">Precio: $ 6.050.000 $ 6.140.000</h3>
            </div>
        </main>
        <footer>
            <section> 
                <p>Compra tu auto</p>
                <p>Financiamiento </p>
                <p>Preguntas frecuentes </p>
                <p>Contacto </p>
            </section>
            <section>
                <p>Redes sociales</p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-youtube"></i>
            </section>
            <section>
                <p>Politicas de Privacidad  Terminos y condiciones</p>
            </section>
        </footer>
    </body>
</html>