<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles vender.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header')%>
    <main>

        <form method="POST" action="/vender" >
            <div class="form">
                <input type="text" name="marca" id="marca" placeholder="Marca" required="required">
            </div>
            <div class="form">
                <input type="text" name="modelo" id="modelo" placeholder="Modelo" required="required">
            </div>
            <div class="form">
                <input type="number" name="kilometraje" id="kilometraje" placeholder="Kilometraje" required="required">
            </div>
            <div class="form">
                <input type="number" name="año" id="año" placeholder="Año"  required="required">
            </div>
            <div class="form">
                <input type="number" name="precio" id="precio" placeholder="Precio" required="required">
            </div>
            <div class="form">
                <input type="text" name="transmision" id="transmision" placeholder="Transmision" required="required">
            </div>
            <div class="custom-file">
                <input type="file"   name="imagen"  placeholder="Elige una imagen">
            </div>
            <button class="form" type="submit">Publicar</button>   
        </form>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>