<!Doctype html>
<html lang="en">
    <head>
        <title>"Home"</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+home.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <div>
                <img src="/images/infiniticars.png" class="logo">
            </div>
            <div class="seccion-barra1">
                <a href = "#">Comprá un auto</a>
                <a href = "/vender">Vende un auto</a>
                <a href = "/productos">Catálogo</a>
                <a href = "#">Nosotros</a>

            </div>
            <div class="seccion-barra2">
                <i class="fas fa-search"></i>
                <a class="sesion" href = "/register">Registrate</a>
                <a class="sesion" href = "/shop-car">Carrito</a>
                <i class="fa-solid fa-basket-shopping"></i>
                <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
            </div>
        </header>

        <header>
            <h2 class="texto">Porque comprar en INFINITI es garantia de confianza</h2>
            <div><img src="/images/bmw.jpg" class="foto1"></div>
            <h2 class="texto">Obtené tu auto con descuentos exclusivos</h2>
            <div><img src="/images/varios.jpg" class="foto2"></div>
            <h2 class="texto">Ofertas destacadas</h2>
            <section class="productoss">
                <div class="ofertas">
                    <img src = "/images/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
                <div class="ofertas">
                    <img src = "/images/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
                <div class="ofertas">
                    <img src = "/images/EXTERIOR-frontSidePilotNear-1646321139201.jpeg" class="imagen">
                    <article class="precio-descuento-descripcion">
                        <p class="precio">Precio: $ 6.050.000$ 6.140.000</p>
                        <p class="descuento">10% off</p>
                        <h3 class="descripcion">Toyota Hilux 2.8</h3>
                    </article>
                </div>
            </section>
        </header>
        <%- include('./partials/footer')%>
    </body>