<!DOCTYPE html>
<html>

<head>
    <title>Log in</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/sltyles+register-login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <div id="busqueda">     
            <h4> Buscar por modelo, marca , color <i class="fa-solid fa-magnifying-glass "></i> </h4>
        </div>
        <h2>Inicia sesion</h2>
        <section id="formulario">
            <form action="/login" method="POST">
                <div class="form">
                    <label for="usuario"></label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                    <% if (locals.errors && errors.usuario){ %>
                        <div class="mensajeError">
                            <%= errors.usuario.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form">
                    <label for="contrase単a"></label>
                    <input type="password" name="contrase単a" id="contrase単a" placeholder="Contrase単a">
                </div>
                <div>
                    <button type="submit">Iniciar sesion</button>
                </div>
            </form>
            <p>
                No tenes cuenta? <a href="/register">Registrate</a>
            </p>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>