<!Doctype html>
<html>
    <head>
        <title>"Detalle de productos"</title>
        <meta name="viewport" content="width=device-wid th">
        <meta charset="utf-8">
        <link href="../public/css/styles+productos.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <i class="fa-solid fa-car"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fas fa-bars "></i>
        </header>
        <main>
            <p id="busqueda"> Buscar por modelo, marca , color <i class="fa-solid fa-magnifying-glass "></i> </p>
            <section class="contenedor-productos">
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" style='height: 100%; width: 100%; object-fit: scale-down' >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg"style="width:20;height:20;" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
                <div class="productos">
                    <img src="../public/images/EXTERIOR-frontSclassePilotNear-1646321139201.jpeg" >
                    <h4 class="productos-titulo">Toyota Hilux 2.8</h4>
                    <p class="productos-detalles">2017 • 41.558 km • Manual</p>
                    <p class="productos-precio">Precio: $ 6.050.000$ 6.140.000</p>
                </div>
            </section>
        </main>
        <footer>
            <section> 
                <p>Compra tu auto</p>
                <p>Financiamiento </p>
                <p>Preguntas frecuentes </p>
                <p>Contacto </p>
            </section>
            <section>
                <p>Redes sociales</p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram-square"></i>
                <i class="fa-brands fa-youtube"></i>
            </section>
            <section>
                <p>Politicas de Privacidad  Terminos y condiciones</p>
            </section>
        </footer>
    </body>
</html>