<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/sltyles+register-login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header')%>
    <main>
        <div id="busqueda">     
            <h4> Buscar por modelo, marca , color <i class="fa-solid fa-magnifying-glass "></i> </h4>
        </div>
        <h2>Registrate</h2>
        <section id="formulario">
            <form action="/register" method="POST">
                <div class="form">
                    <label for="nombre-completo"></label>
                    <input type="text" name="nombreCompleto" id="nombre-completo" placeholder="Nombre completo">
                </div>
                <div class="form">
                    <label for="usuario"></label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario">
                </div>
                <div class="form">
                    <label for="contraseña"></label>
                    <input type="text" name="contraseña" id="contraseña" placeholder="Contraseña">
                </div>
                <div class="form">
                    <label for="confirmar-contraseña"></label>
                    <input type="text" name="confirmarContraseña" id="confirmar-contraseña" placeholder="Confirmar contraseña">
                </div>
                <div class="form">
                    <label for="fecha-de-nacimiento"></label>
                    <input type="date" name="fechaDeNacimiento" id="fecha-de-nacimiento" placeholder="Fecha de nacimiento">
                </div>
                <div class="form">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="form">
                    <span>
                        <label for="celular"></label>
                        <input type="tel" name="celular" id="celular" placeholder="Celular">
                    </span>
                </div>
                <div class="checkbox">
                    <label for="terminos">Acepto los <a href="#">terminos y condiciones</a></label>
                    <input type="checkbox" name="terminos">
                </div>
                <div class="checkbox">
                    <label for="newsletter">Deseo recibir ofertas</label>
                    <input type="checkbox" name="newsletter">
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <p>
                Ya tenes cuenta? <a href="/login">Log in</a>
            </p>
        </section>
    </main>
    <%- include('./partials/footer')%>
</body>

</html>