<!Doctype html>
<html lang="en">
    <head>
        <title>"Shop Car"</title>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="../public/css/styles+shopCar.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="main-header">
            <div class="img-header">
               <img src="..\public\images\infiniticars.png" style='height: 100%; width: 100%; object-fit: fill' >  
            
            </div>
            <div>
                <div class="menu">
                <i id="burger-menu" class="fa-solid fa-bars"></i>
            </div>

            </header>
            <div class="container padding-bottom-3x mb-1">

                <div class="table-responsive shopping-cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Subtotal</th>  
                                <div class="delete-button"><th><a class="delete-button" href="#">eliminar</a></th>
                                </div>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                            
                                    <div class="product-item">

                                        <a class="product-thumb" href="#"><img src="..\public\images\EXTERIOR-frontSidePilotNear-1646321139201.jpeg"
                                            alt="Product"></a>
                                        <div class="product-info">
                                            <h4 class="product-title"> <span class="name-product">Toyota Hilux 2.8</span></h4><span><em>año:</em>2017</span><span><em> 41.558 km </em> Manual</span>
                                        </div>                   
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">$650.000<br>Reserva del 10%</td><br></td></td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="remove"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="product-item">
                                        <a class="product-thumb" href="#"><img src="..\public\images\EXTERIOR-frontSidePilotNear-1646321139201.jpeg"
                                            alt="Product"></a>
                                        <div class="product-info">
                                            <h4 class="product-title"><span class="name-product">Toyota Hilux 2.8</span></h4><span><em>año:</em>2017</span><span><em> 41.558 km </em> Manual</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="count-input">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option selected="">2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center text-lg text-medium">$650.000<br>Reserva del 10%</td><br></td>
                                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                                <td class="total-compra">

                                </td>
                            </tr>
                            
                        </tbody>
                        <tfoot class="table-footer">
                            <tr>          
                            <td> Total</td>
                            <td> $1.300.000,00</td>

                        </tr>
                        
                        </tfoot>
                
                    </table>
                </div>
                <div class="shopping-cart-footer">
                  
                    </div>
                    
                </div>
                <div class="shopping-cart-footer">
                   <div><a class="regresar" href="#">Regresar al carrito</a></div>
                    <div ><a class="comprar" href="#">Finalizar compra</a></div> 
                    
                    
                </div>


                <footer class="footer">

                <section> 
                    <p>Compra tu auto</p>
                    <p>Financiamiento </p>
                    <p>Preguntas frecuentes </p>
                    <p>Contacto </p>
                </section>
                <section>
                    <p>Redes sociales</p>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram-square"></i>
                    <i class="fa-brands fa-youtube"></i>
                </section>
                <section>
                    <p>Politicas de Privacidad  Terminos y condiciones</p>
                </section>
            </footer>
            </div>