*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    width: 100%;
    box-sizing:border-box;
    padding: 15px;
    color: white;
    align-items: center;

}

.seccion-barra1 {
    display: none;
}

.seccion-barra2 {
    display: none;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

header a {
    color: white;
}

.main-header{
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-direction: row;
}


header img{
    max-width: 100px;
    max-height: 100px;
    object-fit: scale-down;
}

header span{
    width: 80%;
    visibility: hidden;
}
.nav-link{
    color: white;
}
#busqueda{
    display: flex;
    background-color: #ccb23e;  
    padding-bottom: 0px;
    margin-bottom: 5px;
    justify-content: center;
    font-size: auto;
    width: 100vw;
}
#busqueda h4{
    border-radius: 5px;
    width: 90%;   
    background-color: white;
    text-align: center;
    color: gray;
    margin: 7px 0px ;
    padding: 2px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #cacaca;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
}

#logo {
    width: 25%;
}

.burger-menu {
    font-size: 50px;
    text-align: end;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

#formulario {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.form input {
    width: 60vw;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    /*border: solid 2px rgb(197, 197, 197);    */
}

.form input:focus {
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
    outline: none;
    border: solid 2px rgb(137, 137, 137);
    transition: 0.5s;
}

.checkbox {
    justify-content: center;
    margin: 5px;
}

button {
    background-color: rgb(196, 196, 196);
    padding: 12px;
    border-radius: 7px;
    margin: 10px;
    border: solid 2px #b9b9b9;
}

button:hover {
    background-color: #b9b9b9;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}

footer {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    width: 100%;
    margin-top: auto;
}

footer p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.mensajeError{
    text-align: left;
    margin-left: 15px;
    color: red;
    font-size: 12px;
}

.campos-invalidos {
    /*color: #842029;*/
    border: 2px solid rgb(248, 89, 89);
  }

@media (min-width: 769px) {
    
    header div{
        display: flex;
        justify-content: space-between;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
         
    .main-header{
        background-color: black;
        padding:15px;
        display: flex;
        justify-content: space-between;
        /*justify-content: flex-start;*/
    }
    
    .logo{
        max-width: 100px;
    }
    
    .seccion-barra1 {
        display: flex;
        font-size: 12px;
        color:white;
        align-self: center;
    }
    
    .seccion-barra1 a{
        flex-direction: row;
        color:white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 16px;
        margin: 0px 8px;
    }
    
    
    
    .seccion-barra2{
        display: flex;
        font-size: 12px;
        color:white;
        align-items: center;
        /*font-size: 16px;
        color:white;
        align-self: center;*/
    }
    
    .seccion-barra2 a{
        flex-direction: row;
        color:white;
        text-decoration: none;
        margin: 0 5px;
        padding: 0px 33px;
        /*align-items:center;*/
        font-size: 16px;
    }

    header span{
        visibility: visible;
        text-align: center;       
    }

    #micuenta {
        white-space: nowrap;
    }
    #micuenta a:link {
        text-decoration: none;
        color: white;
    }
    #micuenta a:visited {
        text-decoration: none;
        color: white;
    }
    #micuenta a:hover {
        text-decoration: none;
        color: white;
    }
    #micuenta a:active {
        text-decoration: none;
        color: white;
    }

    #carrito a:link {
        text-decoration: none;
        color: white;
    }
    #carrito a:visited {
        text-decoration: none;
        color: white;
    }
    #carrito a:hover {
        text-decoration: none;
        color: white;
    }
    #carrito a:active {
        text-decoration: none;
        color: white;
    }
    


    .burger-menu {
        display: none;
    }

    .form input {
        width: 50vw
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 2px;
    }


    .footer p {
        width: 160px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    footer .redes {
        margin-top: 5px;
    }

    footer .logos {
        margin-top: 5px;
    }

    footer .politicas {
        margin-top: 10px;
    }

}

@media (min-width: 1280px) {
    header div{
        display: flex;
        justify-content: space-between;
    }

    header {
        display: flex;
        justify-content: space-between;
    }
         
    .main-header{
        background-color: black;
        padding:15px;
        display: flex;
        justify-content: space-between;
        /*justify-content: flex-start;*/
    }
    
    .logo{
        max-width: 100px;
    }
    
    .seccion-barra1 {
        display: flex;
        font-size: 12px;
        color:white;
        align-self: center;
    }
    
    .seccion-barra1 a{
        flex-direction: row;
        color:white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 16px;
        margin: 0px 8px;
    }
    
    
    
    .seccion-barra2{
        display: flex;
        font-size: 12px;
        color:white;
        align-items: center;
        /*font-size: 16px;
        color:white;
        align-self: center;*/
    }
    
    .seccion-barra2 a{
        flex-direction: row;
        color:white;
        text-decoration: none;
        margin: 0 5px;
        padding: 0px 33px;
        /*align-items:center;*/
        font-size: 16px;
    }
    
    
    
    header span{
        visibility: visible;
        text-align: center;       
    }

    .form input {
        width: 40vw
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .footer p {
        width: 160px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}