<!Doctype html>
<html lang="en">
    <head>
        <title>Nosotros</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8">
        <link href="/css/styles+header.css" rel="stylesheet">
        <link href="/css/styles+nosotros.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include('../partials/header')%>

    <main>
            <img src="/images/photohand1.jpg" class="foto1">
            <div class="texto-arriba">INFINITI CARS</div>
        <p class="parrafo-imagen">Te acompañamos en todo el proceso para que puedas adquirir el vehículo ideal</p>
        <div class="nosotros-parrafo">
        <h3>VISIÓN: Enriquecer la vida de la gente.</h3>
        <br>
        <h3>MISIÓN: Infinity Cars provee automotrices únicos e innovadores que ofrecen seguridad, calidad para nuestros clientes.</h3>
        <br>
        <p>Contamos con sucursales en distintos lugares de la provincia y el país. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus molestias, earum maxime eaque velit dolorum sapiente quis illum ut, numquam voluptatibus quam voluptas voluptate. Quidem architecto accusantium laboriosam voluptate praesentium! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia error iusto vel cupiditate. Quidem sapiente nesciunt recusandae minus, inventore possimus dicta earum tenetur iste neque dolor praesentium sed. Iusto, repellat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem obcaecati dicta ipsum eligendi debitis repellat inventore impedit id, reprehenderit expedita officia. Nemo nisi esse quaerat voluptatum incidunt itaque in Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minus distinctio perferendis dolores alias ad est, omnis doloremque veniam, repudiandae adipisci libero. Reiciendis aliquid nostrum deserunt ipsam hic dolores ullam?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ab sapiente corrupti debitis eius corporis laboriosam perferendis reiciendis. Ab exercitationem nulla a eos, delectus perferendis nostrum blanditiis. Delectus, sunt quidem!LoremLOREM Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo nulla, vel porro fugit, laboriosam quo quae a tenetur temporibus saepe, praesentium consequatur in obcaecati? Nostrum ut qui velit perspiciatis deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem odit, id eligendi totam ipsam pariatur, distinctio corporis debitis velit quas neque minus itaque asperiores possimus nemo cumque autem, alias aliquam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas voluptates architecto ea quam aspernatur nemo eum, debitis illo quaerat adipisci facilis neque, minus maxime accusantium dolores tenetur aliquid, fuga dolore!</p>
        <br>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>
