<!DOCTYPE html>
<html>

<head>
    <title>Formulario de edicion</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+header.css" rel="stylesheet">
    <link href="/css/styles+edicion.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="panelAdmin">

                <a class="opcionesAdmin" href="/administrar"><h2>Overview de productos</h2></a>

                <a class="opcionesAdmin" href="/administrarUsuarios"><h2>Vista de Usuarios</h2></a>

                <a class="opcionesAdmin" href="/administrarPrecios"><h2>Panel de control precios</h2></a>

            </div>
            
        </article>
        <article>
            <a class="edicion-texto" href="/agregar"> Agregar</a>
        </article>
        <table class="table">
            <thead>
            <tr>  
                <th scope="col">Id</th>
                <th class="ubicacion-nombre"scope="col">Datos de usuario</th>
                <th class="ubicacion-nombre"scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <%let i=usuarios.length-1 %>
            <% while (i!=-1) { %> 
            <tr class="interlineado-productos">
                <td><%= usuarios[i].id%> </td>
                <td class="detallevehiculos"><%= usuarios[i].full_name + " " + usuarios[i].user + " " + usuarios[i].email %> </td>
                <td><div class="status-page-link">
                    <div class="status-dot"></div>
                    </div>
                </td>
            </tr>
            <%i--;%>
            <% }; %>
            <%let y=10-i; %>
            <% while (y!=0) { %> 
                <tr class="interlineado-productos">
                    <td></td>
                    <td class="detallevehiculos"></td>
                    <td><div class="status-page-link">
                        
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <%y--;%>
            <% }; %>

                <td> </td>
                <td > </td>
                <td>
                </td>
                <td></td>
                <td></td>
                <td></td>

            </tbody>
        </table> 

    </main>
    <%- include('../partials/footer')%>
</body>
</html>

